<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <% include mod.head.html %>
    <link rel="stylesheet" href="/stylesheets/nostore.page.cart.css">
</head>

<body>
    <div class="container">

        <!-- 顶部导航 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <% include mod.nav.s2_return.html %>

        <!-- 首页主体 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- 面包屑 -->
        <div class="row hidden-xs">
            <ol class="col-sm-12 breadcrumb">
                <li><a href="/"><img src="/images/logo.png" style="width:70px;"></a>
                </li><li><a href="/usercenter">个人中心</a>
                </li>
                <li class="active">购物车</li>
            </ol>
        </div>

        <div class="row">
            <!-- 左侧 功能栏 -->
            <div class="sidebar_op col-xs-12 col-sm-3 col-lg-2 hidden-xs">
                <div class="list-group">
                  <a href="/usercenter" class="list-group-item">个人中心</a>
                  <a href="/userpassword" class="list-group-item">修改密码</a>
                  <a href="/address" class="list-group-item">我的收获地址</a>
                </div>
                <div class="list-group">
                  <a href="/cart" class="list-group-item active">购物车</a>
                  <a href="/orderlist" class="list-group-item">订单</a>
                  <a href="/likes" class="list-group-item">喜欢的</a>
                </div>
            </div>
            <!-- 左侧 主栏 -->
            <div class="col-xs-12 col-md-9">

                <!-- 购物车列表 -->
                <div class="cart_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="checkinput-all"><label><input type="checkbox" checked disabled></label></th>
                                <th colspan="2">全选</th>
                                <th class="count hidden-xs">数量</th>
                                <th class="price hidden-xs hidden-xs">价格</th>
                                <th class="operation hidden-xs">操作</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- 一个卖家循环 -->
                    <% for (var i = 0; i < cart_array.length; i++) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="checkinput-all"><label><input type="checkbox" checked disabled></label></th>
                                <th colspan="5"><a href="#"><%= cart_array[i][0].seller_name %></a></th>
                            </tr>
                        </thead>
                        <tbody class="commodity-tr">
                            <!-- 一个商品循环 -->
                            <% for (var j = 0; j < cart_array[i].length; j++) { %>
                            <tr id="commodity_<%= cart_array[i][j].commodity_id %>">
                                <td class="checkinput"><label><input type="checkbox" checked disabled></label></td>
                                <% var pics_url = cart_array[i][j].commodity_pic_urls.split(';'); %>
                                <td class="pic"><a href="/detail/<%= cart_array[i][j].commodity_id %>"><img src="<%= pics_url[0] %>"></td>
                                <td class="name"><a href="/detail/<%= cart_array[i][j].commodity_id %>"><%= cart_array[i][j].commodity_name %>&nbsp;-&nbsp;<%= cart_array[i][j].commodity_subtitle %></a></td>
                                <td class="count"><input type="number" value="1" readonly></td>
                                <td class="price c_price">&yen;<em><%= cart_array[i][j].commodity_price %></em></td>
                                <td class="operation"><a href="/rmvFromCart?commodity_id=<%= cart_array[i][j].commodity_id %>">删除</a></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <% } %>

                </div>

            </div>
        </div>
    </div>

    <!-- 合计 -->
    <div class="container total-row">
        <div class="row">
            <div class="col-xs-12 col-sm-2 hidden-xs">
            </div>
            <div class="col-xs-12 col-md-9">
                <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="price">运费：<span class="color-red">&yen;<em>0</em><span></td>
                            <td class="total-price">合计：<span class="color-red">&yen;<em>0</em><span></td>
                            <td class="operation"><a href="/order" class="btn btn-success active" role="button">去结算</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

    </div>
    <!--/.container-->


</body>

<% include mod.script.html %>
<script src="/javascripts/nostore.page.cart.js"></script>
<script src="/javascripts/holder.min.js"></script>

</body>

</html>