<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <% include mod.head.html %>
        <link rel="stylesheet" href="/stylesheets/nostore.page.list.css">
</head>

<body>
        <!-- 顶部导航 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <% include mod.nav.s2_return.html %>
    <div class="container row-offcanvas row-offcanvas-left">

        <div class="jumbotron">
            <h1>出错啦！<%=code%></h1>
            <p><%=content%></p>
            <p><a href="javascript:window.history.go(-1);" class="btn btn-primary btn-lg" role="button">Back</a>
            </p>
        </div>

    </div>

    <hr>

    <footer>
        <p>© Company 2013</p>
    </footer>

    </div>
    <!--/.container-->


</body>

<% include mod.script.html %>

    </body>

</html>