<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <% include mod.head.html %>
    <link rel="stylesheet" href="/stylesheets/nostore.page.list.css">
</head>

<body>
    <div class="container row-offcanvas row-offcanvas-left">

        <!-- 顶部导航 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <% include mod.nav.s1_main.html %>

        <!-- 首页主体 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- 面包屑 -->
        <div class="row hidden-xs">
            <ol class="col-sm-9 breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Library</a>
                </li>
                <li class="active">Data</li>
            </ol>
        </div>

        <div class="row">
            <!-- 左侧 主栏 -->
            <div class="col-xs-12 col-sm-9">

                <!-- 首页列表 -->
                <div class="mod_list_home">
                    <div class="btn-group">
                        <a href="<%= req_path + '?key=' + req_query.key %>&sort=time_pub" class="btn btn-default" role="button">最新</a>
                        <a href="<%= req_path + '?key=' + req_query.key %>&sort=viewed" class="btn btn-default" role="button">人气</a>
                        <a href="<%= req_path + '?key=' + req_query.key %>&sort=price" class="btn btn-default" role="button">价格</a>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <% for (var i = 0; i < commoditys.length; i++) { %>
                            <div class="row list-good">
                                <a href="/detail/<%= commoditys[i].commodity_id %>" class="col-xs-4 col-sm-2">
                                    <% var pics_url = commoditys[i].commodity_pic_urls.split(';'); %>
                                    <img src="<%= pics_url[0] %>" width="75" height="75">
                                </a>
                                <div class="col-xs-8 col-sm-10">
                                    <a href="/detail/<%= commoditys[i].commodity_id %>">
                                        <h5 class="title"><%= commoditys[i].commodity_name %>&nbsp;-&nbsp;<%= commoditys[i].commodity_subtitle %></h5>
                                    </a>
                                    <div>
                                        <span class="seller">by
                                            <a href="#"><%= commoditys[i].seller_name %></a>
                                        </span>
                                        <span class="position">
                                            <a href="#"><%= commoditys[i].commodity_position %></a>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="price">
                                            <em><%= commoditys[i].commodity_price %></em>元</span>
                                        </span>
                                        <span class="category">
                                            <span><%= commoditys[i].commodity_category %></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                        </div>
                    </div>
                </div>

            </div>

            <!-- 画布外类目列表 -->
            <% include mod.cate.offcanvas.html %>

        </div>
    </div>

    <hr>

    <footer>
        <p>© Company 2013</p>
    </footer>

    </div>
    <!--/.container-->


</body>

<% include mod.script.html %>
<script src="/javascripts/nostore.page.home.js"></script>
<script src="/javascripts/holder.min.js"></script>

</body>

</html>