<div class="col-xs-9 col-sm-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
        <a href="/search?key=手机" class="list-group-item">手机</a>
        <a href="/search?key=电脑" class="list-group-item">电脑</a>
        <a href="/search?key=相机" class="list-group-item">相机</a>
        <a href="/search?key=智能穿戴" class="list-group-item">智能穿戴</a>
        <a href="#" class="list-group-item">图书</a>
        <a href="#" class="list-group-item">家具</a>
        <a href="#" class="list-group-item">生活</a>
        <a href="#" class="list-group-item">运动</a>
        <a href="#" class="list-group-item">其他</a>
    </div>
</div>