/*
 * Off Canvas
 * --------------------------------------------------
 */
 @media screen and (max-width: 767px) {
    .row-offcanvas                          { position: relative; left: 0%; transition: all 0.25s ease-out; }
    .row-offcanvas-left .sidebar-offcanvas  { position: fixed; top: 50px; left: -90%; transition: all 0.25s ease-out; }
    .row-offcanvas-left.active              { left: 90%; }
    .row-offcanvas-left.active .sidebar-offcanvas { left: 0%; }
    .sidebar-offcanvas                      { position: absolute; top: 0; width: 90%; }
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
 html, body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body { padding-top: 50px; }
body.sell,
body.bk { padding-top: 60px; }
footer { padding: 30px 0; }
em { font-style: normal; }

.container  { min-height: 500px; }

/* color -------------------------- */
.color-red      { color: #c00; } 

/* tools -------------------------- */
 .main-btn      { margin-bottom: 10px; }
.off-padding    { padding: 0; }

/*navgation -------------------------- */
.navbar_user                         { min-height: 40px; box-shadow: 0 1px 2px #aaa; background-color: rgba(90, 90, 90, 0.95); }
.navbar                         { min-height: 40px; box-shadow: 0 1px 2px #aaa; background-color: rgba(255, 255, 255, 0.95); }
.navbar-fixed-top .btn-group    { padding: 0; }
@media(max-width:768px) { 
    .ns_topnav_center           { text-align: center; }
}

/* mod -------------------------- */
.mod_list_home .list-good { padding: 5px 0; border-top: 1px dashed #ddd; padding: 15px 0; }
.mod_list_home .list-good h5    { margin-top: 6px; }


.navbar_user a,
.navbar_user button  { height: 40px; background-color: #555; color: #fff; border: none; font-weight: bold; }
.navbar_user input[name=key] { background-color: #eee; border:none; height: 40px; }
.navbar_user .hidden-sm a { line-height: 30px; }