<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <% include mod.head.html %>
    <link rel="stylesheet" href="/stylesheets/nostore.page.seller.css">
</head>

<body class="bk">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">平台运维</a>
        </div>
        <a href="/backend/" class="btn btn-default navbar-btn" role="button">商品审核</a>
        <a href="/backend/arbitration" class="btn btn-default navbar-btn" role="button">交易仲裁</a>
        <a href="/backend/credit" class="btn btn-default navbar-btn" role="button">信用评级</a>
        <a href="/backend/logout" class="btn btn-default navbar-btn pull-right"role="button">登出</a>
        <button type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#modal_sell_info">个人信息</button>
    </nav>
    
    <div class="container">

        <div class="row">

            <!-- 左侧 主栏 -->
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <% for (var i = 0; i < new_commoditys.length; i++) { %>
                    <div class="col-xs-6 col-sm-4 new_cs" id="c_<%= new_commoditys[i].commodity_id %>">
                        <a href="#" class="thumbnail">
                            <% var pics_url = new_commoditys[i].commodity_pic_urls.split(';'); %>
                            <img src="<%= pics_url[0] %>">
                        </a>
                        <a href="#"><%= new_commoditys[i].commodity_name %>&nbsp;-&nbsp;<%= new_commoditys[i].commodity_subtitle %></a>
                    </div>
                    <% } %>
                </div>
            </div>

            <!-- 左侧 主栏 -->
            <div class="col-xs-12 col-md-3">
                <div class="row">
                    <% for (var i = 0; i < ref_commoditys.length; i++) { %>
                    <div class="col-xs-12">
                        <a href="#" class="thumbnail">
                            <% var pics_url = ref_commoditys[i].commodity_pic_urls.split(';'); %>
                            <img src="<%= pics_url[0] %>">
                        </a>
                        <a href="#"><%= ref_commoditys[i].commodity_name %>&nbsp;-&nbsp;<%= ref_commoditys[i].commodity_subtitle %></a>
                    </div>
                    <% } %>
                </div>
            </div>

        </div>

    <hr>

    <footer>
        <p>© Company 2013</p>
    </footer>

    <!--/.container-->

    <!-- Modal -->
    <div class="modal fade" id="modal_new_commodity" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content form-horizontal" role="form" method="post" action="/sell/changepassword">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="" width="100%" height="600px" style="border:0;"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="#" class="btn btn-danger" id="set_new_refused_btn">设置下架</a>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <% include mod.script.html %>
    <script src="/javascripts/nostore.page.backend.audit.js"></script>

    </body>

</html>